<?xml version="1.0"?>
<config>
    <modules>
        <Df_Reports>
            <version>1.0.0</version>
			<author>Дмитрий Федюк</author>
        </Df_Reports>
    </modules>



	<df>
		<features>
			<df-reports>
				<module>df_reports</module>
				<title>Отчёты</title>
				<url>http://magento-forum.ru/forum/134/</url>
			</df-reports>
		</features>
	</df>



	<global>

		<blocks>
			<df_reports>
				<class>Df_Reports_Block</class>
			</df_reports>
		</blocks>


		<helpers>
			<df_reports>
				<class>Df_Reports_Helper</class>
			</df_reports>
		</helpers>


		<models>
			<df_reports>
				<class>Df_Reports_Model</class>
			</df_reports>
		</models>

	</global>




    <adminhtml>

		<events>

			<adminhtml_block_html_before>
                <observers>
                    <df_reports__adminhtml_block_html_before>
                        <class>df_reports/dispatcher</class>
                        <method>adminhtml_block_html_before</method>
                    </df_reports__adminhtml_block_html_before>
                </observers>
			</adminhtml_block_html_before>



			<controller_action_layout_generate_blocks_after>
                <observers>
                    <df_reports__controller_action_layout_generate_blocks_after>
                        <class>df_reports/dispatcher</class>
                        <method>controller_action_layout_generate_blocks_after</method>
                    </df_reports__controller_action_layout_generate_blocks_after>
                </observers>
			</controller_action_layout_generate_blocks_after>



			<core_collection_abstract_load_before>
                <observers>
                    <df_reports__core_collection_abstract_load_before>
                        <class>df_reports/dispatcher</class>
                        <method>core_collection_abstract_load_before</method>
                    </df_reports__core_collection_abstract_load_before>
                </observers>
			</core_collection_abstract_load_before>

		</events>



		<translate>
			<modules>
				<Df_Reports>
					<files>
						<default>Df_Reports.csv</default>
					</files>
				</Df_Reports>
			</modules>
		</translate>


    </adminhtml>



</config>